<?xml version="1.0"?>
<config>
    <modules>
        <Antonsbox_Simpleblog>
            <version>0.1.0</version>
        </Antonsbox_Simpleblog>
    </modules>
    <frontend>
        <layout>
            <updates>
                <simleblog>
                    <file>simple_blog.xml</file>
                </simleblog>
            </updates>
        </layout>
        <routers>
            <simpleblog>
                <use>standard</use>
                <args>
                    <module>Antonsbox_Simpleblog</module>
                    <frontName>blog</frontName>
                </args>
            </simpleblog>
        </routers>
    </frontend>
    <global>      
        <helpers>
            <simpleblog>
                <class>Antonsbox_Simpleblog_Helper</class>
            </simpleblog>
        </helpers>
        <blocks>
            <simpleblog>
                <class>Antonsbox_Simpleblog_Block</class>
            </simpleblog>
        </blocks>
        <models>
            <simpleblog>
                <class>Antonsbox_Simpleblog_Model</class>
                <resourceModel>simpleblog_resource</resourceModel>
            </simpleblog>
            <!--***********-->
            <params>
                <class>Antonsbox_Simpleblog_Model_Params</class>
            </params>
            <simpleblog_resource>
                <class>Antonsbox_Simpleblog_Model_Resource</class>
                <entities>
                    <table_post>
                        <table>antonsbox_blog_posts</table>
                    </table_post>
                </entities>
            </simpleblog_resource>
        </models>
        <resources>
            <Simpleblog_setup>
                <setup>
                    <module>Antonsbox_Simpleblog</module>
                </setup>
            </Simpleblog_setup>
        </resources>
    </global>
</config>