<?xml version="1.0"?>
<config>
    <modules>
        <Antonsbox_Simpleblog>
            <version>0.1.0</version>
        </Antonsbox_Simpleblog>
    </modules>
    <admin>
        <routers>
            <simpleblog_admin>
                <use>admin</use>
                <args>
                    <module>Antonsbox_Simpleblog</module>
                    <frontName>simpleblog_admin</frontName>
                </args>
            </simpleblog_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <simpleblog module="simpleblog">
                <title>Blog</title>
                <sort_order>77</sort_order>
                <action>simpleblog_admin/adminhtml_blog</action>
            </simpleblog>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <simpleblog>
                    <file>simple_blog.xml</file>
                </simpleblog>
            </updates>
        </layout>
        <routers>
            <simpleblog>
                <use>standard</use>
                <args>
                    <module>Antonsbox_Simpleblog</module>
                    <frontName>blog</frontName>
                </args>
            </simpleblog>
        </routers>
    </frontend>
    <global>      
        <helpers>
            <simpleblog>
                <class>Antonsbox_Simpleblog_Helper</class>
            </simpleblog>
        </helpers>
        <blocks>
            <simpleblog>
                <class>Antonsbox_Simpleblog_Block</class>
            </simpleblog>
        </blocks>
        <models>
            <simpleblog>
                <class>Antonsbox_Simpleblog_Model</class>
                <resourceModel>simpleblog_resource</resourceModel>
            </simpleblog>
            <simpleblog_resource>
                <class>Antonsbox_Simpleblog_Model_Resource</class>
                <entities>
                    <table_post>
                        <table>antonsbox_blog_posts</table>
                    </table_post>
                </entities>
            </simpleblog_resource>
        </models>
        <resources>
            <simpleblog_setup>
                <setup>
                    <module>Antonsbox_Simpleblog</module>
                </setup>
            </simpleblog_setup>
        </resources>
    </global>
</config>