<?xml version="1.0"?>
<config>
    <tabs>
        <simpleblog translate="label" module="simpleblog">
            <label>Simple Blog Settings</label>
            <sort_order>100</sort_order>
            <class>simpleblog</class>
        </simpleblog>
    </tabs>
    <sections>
        <simpleblog_options translate="label" module="simpleblog">
            <label>Settings</label>
            <tab>simpleblog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config translate="label">
                    <label>Blog Settings</label>
                    <comment>Here you can fill your Meta tags</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <meta_title translate="label">
                            <label>Meta Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_title>
                        <meta_keywords translate="label">
                            <label>Meta Keywords</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_keywords>
                        <meta_description translate="label">
                            <label>Meta Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_description>
                        <meta_author translate="label">
                            <label>Meta Author</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_author>

                    </fields>
                </config>
            </groups>
        </simpleblog_options>
    </sections>
</config>